body {
  background: url('./assets/images/library.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.search-item h1 {
  color: white;
}

.textfield fieldset {
  border-color: white;
}

.textfield label {
  color: white;
}
